@'
# Virtualenv
venv/
env/
.venv/

# Django
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
db.sqlite3
db.sqlite3-journal
*.backup

# Staticfiles (Production)
staticfiles/

# Media (User-Uploads)
media/

# Sonstiges
.env
.DS_Store
*.log
'@ > .gitignore
clean_structure.txt