{% extends 'base.html' %}
{% block title %}Impressum{% endblock %}
{% block content %}
<div class="max-w-4xl mx-auto px-6 py-20">
    <h1 class="text-6xl font-black mb-10">Impressum</h1>
    <div class="prose prose-invert">
        <p><strong>Angaben gemäß § 5 TMG</strong></p>
        <p>Martin Freimuth<br>
           Tulpenstraße 12<br>
           831365 Schechen</p>
        <p><strong>Kontakt</strong><br>
           E-Mail: mat.frei(at)gmx.de</p>
        <p><strong>Verantwortlich für den Inhalt nach § 55 Abs. 2 RStV</strong><br>
           Martin Freimuth</p>
        <p class="mt-10 text-sm text-gray-500">
            Quelle: <a href="https://www.e-recht24.de" class="underline">e-recht24.de</a>
        </p>
    </div>
</div>
{% endblock %}